A2.Replication.Agent/Service References/ReplicationService/ReplicationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IReplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49254/Replication.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49254/Replication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49254/Replication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/A2.Replication.Data" />
      <xsd:import schemaLocation="http://localhost:49254/Replication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:49254/Replication.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReplicationService_StartSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSession" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_StartSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_EndSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_GetLastPackageId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastPackageId" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_GetLastPackageId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastPackageIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_LoadPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadPackage" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_LoadPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_SendPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPackage" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_SendPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_SendPackageContent_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPackageContent" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_SendPackageContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPackageContentResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_GetItemForGet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemForGet" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_GetItemForGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemForGetResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_GetDataForGet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForGet" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_GetDataForGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForGetResponse" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_SetDataForGetSent_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDataForGetSent" />
  </wsdl:message>
  <wsdl:message name="IReplicationService_SetDataForGetSent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataForGetSentResponse" />
  </wsdl:message>
  <wsdl:portType name="IReplicationService">
    <wsdl:operation name="StartSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/StartSession" message="tns:IReplicationService_StartSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/StartSessionResponse" message="tns:IReplicationService_StartSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/EndSession" message="tns:IReplicationService_EndSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/EndSessionResponse" message="tns:IReplicationService_EndSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastPackageId">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/GetLastPackageId" message="tns:IReplicationService_GetLastPackageId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/GetLastPackageIdResponse" message="tns:IReplicationService_GetLastPackageId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/LoadPackage" message="tns:IReplicationService_LoadPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/LoadPackageResponse" message="tns:IReplicationService_LoadPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/SendPackage" message="tns:IReplicationService_SendPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/SendPackageResponse" message="tns:IReplicationService_SendPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPackageContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/SendPackageContent" message="tns:IReplicationService_SendPackageContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/SendPackageContentResponse" message="tns:IReplicationService_SendPackageContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemForGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/GetItemForGet" message="tns:IReplicationService_GetItemForGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/GetItemForGetResponse" message="tns:IReplicationService_GetItemForGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataForGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/GetDataForGet" message="tns:IReplicationService_GetDataForGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/GetDataForGetResponse" message="tns:IReplicationService_GetDataForGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDataForGetSent">
      <wsdl:input wsaw:Action="http://tempuri.org/IReplicationService/SetDataForGetSent" message="tns:IReplicationService_SetDataForGetSent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReplicationService/SetDataForGetSentResponse" message="tns:IReplicationService_SetDataForGetSent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IReplicationService" type="tns:IReplicationService">
    <wsp:PolicyReference URI="#CustomBinding_IReplicationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSession">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/StartSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/EndSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastPackageId">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/GetLastPackageId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadPackage">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/LoadPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPackage">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/SendPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPackageContent">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/SendPackageContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemForGet">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/GetItemForGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataForGet">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/GetDataForGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataForGetSent">
      <soap12:operation soapAction="http://tempuri.org/IReplicationService/SetDataForGetSent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReplicationService">
    <wsdl:port name="CustomBinding_IReplicationService" binding="tns:CustomBinding_IReplicationService">
      <soap12:address location="http://localhost:49254/Replication.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:49254/Replication.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>