A2.Replication.Agent/Service References/ReplicationService/Replication53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49254/Replication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/A2.Replication.Data" />
  <xs:element name="StartSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartSessionResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPackageId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPackageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastPackageIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
        <xs:element minOccurs="0" name="PackageId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="LoadPackageResult" nillable="true" type="q1:PackageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="data" nillable="true" type="q2:PackageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="data" nillable="true" type="q3:PackageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageContentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemForGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemForGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="GetItemForGetResult" nillable="true" type="q4:DataForGet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="DataForGet" nillable="true" type="q5:DataForGet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="GetDataForGetResult" nillable="true" type="q6:PackageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataForGetSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/A2.Replication.Data" minOccurs="0" name="DataForGet" nillable="true" type="q7:DataForGet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataForGetSentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>